[Desktop Entry]
Name=LGeneral
Comment=LGeneral is a turn-based strategy engine heavily inspired by Panzer General.
Exec=lgeneral
Icon=lgeneral
Type=Application
Categories=Game;StrategyGame;
Keywords=turn-based;tiles;WWI;army;troops;battle;
